
.sample_w_sample .w_sample {
    
    width: 100%;
    min-width:300px;
    height: 500px;
    background-color: ButtonFace;
}


.sample_w_sample .dw_1 {
    
    position: absolute;
    left: 5.77%;
    top: 30.33%;
    width: 84.52%;
    height: 49.76%;
    border-style: solid;
}



.sample_w_sample .sle_1 {
    
    position: absolute;
    left: 37.2%;
    top: 9.48%;
    width: 25.28%;
    height: 13.27%;
    font-weight: normal;
    font-family: Tahoma;
    color: WindowText;
    border-style: solid;
}



.sample_w_sample .st_1 {
    
    position: absolute;
    left: 7.58%;
    top: 9.48%;
    width: 25.28%;
    height: 13.27%;
    font-weight: normal;
    font-family: Tahoma;
    color: WindowText;
    background-color: ButtonFace;
}



.sample_w_sample .cb_1 {
    
    position: absolute;
    left: 65.32%;
    top: 9.48%;
    width: 25.28%;
    height: 13.27%;
    font-weight: normal;
    font-family: Tahoma;
}


