
.sample_d_sample_list .d_sample_list {
    
    background-color: Window;
    width: 100px;
}


.sample_d_sample_list .d_sample_listheader {
    
}


.sample_d_sample_list .list_t {
    
    text-align: center;
    border-style: none;
    position: absolute;
    left: 3px;
    top: 2px;
    height: 16px;
    width: 97px;
    font-weight: bold;
}




.sample_d_sample_list .d_sample_listfooter {
    
}



.sample_d_sample_list .d_sample_listsummary {
    
}



.sample_d_sample_list .d_sample_listdetail {
    
}


.sample_d_sample_list .list {
    
    text-align: left;
    border-style: none;
    position: absolute;
    left: 3px;
    top: 2px;
    height: 19px;
    width: 97px;
}



